{{ 'about-us-rnd.css' | asset_url | stylesheet_tag }}

<div class="about-us-rnd-wrapper">
  <div class="container">
    <div class="aur-wrapper flex-box justify-between">
      <div class="aur-left">
        <div class="aur-main-img">
        	<img class="main-img" src="{{ section.settings.main_img | img_url: '700x' }}" alt = "sub-img">
        </div>
        <div class="aur-sub-heading medium">{{ section.settings.sub_heading }}</div>
        <div class="sub-para">{{ section.settings.para_two }}</div>
      </div>
      <div class="aur-right">
      	<h1 class="auc-title heading-2">{{ section.settings.heading }}</h1>
        <div class="main-para">{{ section.settings.para_one }}</div>
        <div class="auc-sub-img">
        	<img class="sub-img" src="{{ section.settings.sub_img | img_url: '500x' }}" alt = "sub-img">
        </div>
        <div class="main-para">{{ section.settings.para_three }}</div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About Us RND",
    "settings": [
		{
			"id": "heading",
        	"type": "text",
        	"label": "Section Heading"
		},
		{
			"id": "sub_heading",
        	"type": "text",
        	"label": "Section Sub Heading"
		},
		{
			"id": "para_one",
        	"type": "text",
        	"label": "Main Paragraph"
		},
		{
			"id": "main_img",
			"type": "image_picker",
			"label": "Main Image"
		},
		{
			"id": "sub_img",
			"type": "image_picker",
			"label": "Sub Image"
		},
		{
			"id": "para_two",
        	"type": "text",
        	"label": "Sub Paragraph"
		},
		{
			"id": "para_three",
        	"type": "text",
        	"label": "Third Paragraph"
		}
	],
	"presets": [
    {
      "name": "About Us RND",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}