<style>
  .breadcrums {
  	margin-bottom: 66px;
  }
  .breadcrum {
    font-size: 13px;
    margin-right: 18px;
    position: relative;
    opacity: .5;
  }  
  .breadcrum:last-child {  	
    margin-right: 0;    
    opacity: 1;
  }
  
  .breadcrum::after {
  	content: "/";
    position: absolute;
    right: -12px;
  }
  
  .breadcrum:last-child::after { 
  	content: "";
  }
</style>
<style>

  .breadcrums {
    margin-bottom: 36px;
  }
  h1.main-page-title.page-title.h0 {
    font-size: 30px;
    font-family: Athelas,sans-serif;
    color: #342D25;
    position: relative;
  }
  .mobile-filter {
    display: none;
  }
  @media(max-width: 992px) {
    .mobile-filter {
      position: absolute;
      top: 0;
      right: 0;
      display: inline;
      cursor: pointer;
    }    
    h1.main-page-title.page-title.h0 {
      padding-right: 30px;
    }
  }
</style>

<div class="container">
  <div class="breadcrums">
    <a href="/" class="breadcrum">{{ section.settings.home_text }}</a>
    <a class="breadcrum active">{% unless collection.title == "All Products" %}{{ collection.title | escape }}{% else %}{{ section.settings.all_products_text }}{% endunless %}</a>
  </div>
  <h1 class="main-page-title page-title h0">
    {% unless collection.title == "All Products" %}{{ collection.title | escape }}{% else %}{{ section.settings.all_products_text }}{% endunless %} {% unless template == "collection.custom" %}<span class="mobile-filter">{% include "icon-filter-2" %}</span>{% endunless %}
  </h1>
</div>

{% schema %}
  {
    "name": "collection-head",
    "settings": [
		{
          "id": "home_text",
          "type": "text",
          "label": "Home",
          "default": "Home"
        },
		{
          "id": "all_products_text",
          "type": "text",
          "label": "All Products",
          "default": "Alle producten"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
