{{ 'collection-products.css' | asset_url | stylesheet_tag }}
{% assign proSelect = product.handle %}
{% assign proType = product.type %}
{% assign limit = 0 %}
<div class="collection-products-wrapper">
  <div class="container">
    <h2 class="collection-products-title text-center heading-2 module">Deze {{ product.type }} valt waarschijnlijk ook in de smaak...</h2>
    <div class="coll-products module">
      {% paginate collections[all].products by 500 %}
    	{% for product in collections[all].products %}
      {% unless proSelect == product.handle %}eeeeeeeeeee
      {% if proType == product.type and limit < 8 %}ddddddddddddd
      <div class="coll-product">
        <a href="{{ product.url }}" class="product-img-wrap">
        	<img class="product-img" src="{{ product.featured_image.src | img_url: 'x512' }}">
        </a>
        <div class="product-tag bold">{{ product.type }}</div>
        <div class="product-title"><a href="{{ product.url }}">{{ product.title | escape }}</a></div>
        <div class="product-price-wrap flex-box align-center justify-between">
          <div class="from-text">vanaf</div>
          <div class="product-price"><span class="currency">EUR{{ currency.iso_code }}</span><span class="price medium">{{ product.price | money_without_currency }}</span></div>
        </div>
      </div>
      {% assign limit = limit | plus: 1 %}
      {% endif %}
      		{% endunless %}
      	{% endfor %}
      {% endpaginate %}
    </div>
        <a href="/collections/types?q={{ product.type | url_encode }}" class="btn center-it medium btn-dark module">
        	Laat meer zien
        </a>
  </div>
</div>

{% schema %}
  {
    "name": "Collection Products recom",
    "settings": [],
	"presets": [
    {
      "name": "Collection Products recom",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
