<style>
  .margin-extend {
  	margin: calc(-.5 * var(--base-spacing));
  }
.grid-box {
  display: flex;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

  .grid-child {
    background-color: var(--background-main);
      display: flex;
      position: relative;
      overflow: hidden;
      max-width: none;
      margin: 0; 
      height: 520px;
      }

  .grid-child:hover img {
    transform: scale(1.03);
  }

.grid-wide {
  width: 66.66666%;
  padding: calc(.5 * var(--base-spacing));
    }

  .grid-normal {
    width: 33.33333%;
    padding: calc(.5 * var(--base-spacing));
      }


.grid-img-box {
  width: 100%;
  height: 100%;
    overflow: hidden;}

.grid-img-box img {
  width: 100%;
  height: auto;
  min-height: 519px;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(0.75);}

.grid-text-box {
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    display: flex;
    position: absolute;
    flex-direction: column;
    text-decoration: none;
    padding: 0 64px 58px 64px;
}

.grid-heading-text {
  font-size: 30px;
  font-weight: 700;
  color: #F4EDE2;
  font-family: Athelas,sans-serif;
}
  .grid-para {
    display: inline-block;
    border-bottom: 1px solid;
    width: fit-content;
    color: #F4EDE2;
  }

  .grid-box img {
    transition: transform 1s ease-out;
  }
  
  
  
  .bg-block {
    background-color: var(--background-main);
  }
</style>
<div class="bg-block">
  <div class="container">
    <div class="margin-extend">
      <div class="grid-box marg-bottom">
        <div class="grid-wide grid-child">
          <a class="" href="/products/wasstrips-zeebries">
            <div class="grid-img-box">
              <img class="" src="{{ "delete-1.png" | asset_url }}" alt="">
            </div>
            <div class="grid-text-box">
              <h2 class="grid-heading-text">Alle koffie</h2>
              <p class="grid-para">Shop now</p>
            </div>
          </a>
        </div>
        <div class="grid-normal grid-child">
          <a class="" href="/products/wasstrips-zeebries">
            <div class="grid-img-box">
              <img class="" src="{{ "delete-1.png" | asset_url }}" alt="">
            </div>
            <div class="grid-text-box">
              <h2 class="grid-heading-text">Alle koffie</h2>
              <p class="grid-para">Shop now</p>
            </div>
          </a>
        </div>
        <div class="grid-normal grid-child">
          <a class="" href="/products/wasstrips-zeebries">
            <div class="grid-img-box">
              <img class="" src="{{ "delete-1.png" | asset_url }}" alt="">
            </div>
            <div class="grid-text-box">
              <h2 class="grid-heading-text">Alle koffie</h2>
              <p class="grid-para">Shop now</p>
            </div>
          </a>
        </div>
        <div class="grid-normal grid-child">
          <a class="" href="/products/wasstrips-zeebries">
            <div class="grid-img-box">
              <img class="" src="{{ "delete-1.png" | asset_url }}" alt="">
            </div>
            <div class="grid-text-box">
              <h2 class="grid-heading-text">Alle koffie</h2>
              <p class="grid-para">Shop now</p>
            </div>
          </a>
        </div>
        <div class="grid-normal grid-child">
          <a class="" href="/products/wasstrips-zeebries">
            <div class="grid-img-box">
              <img class="" src="{{ "delete-1.png" | asset_url }}" alt="">
            </div>
            <div class="grid-text-box">
              <h2 class="grid-heading-text">Alle koffie</h2>
              <p class="grid-para">Shop now</p>
            </div>
          </a>
        </div>
        <div class="grid-normal grid-child">
          <a class="" href="/products/wasstrips-zeebries">
            <div class="grid-img-box">
              <img class="" src="{{ "delete-1.png" | asset_url }}" alt="">
            </div>
            <div class="grid-text-box">
              <h2 class="grid-heading-text">Alle koffie</h2>
              <p class="grid-para">Shop now</p>
            </div>
          </a>
        </div>
        <div class="grid-wide grid-child">
          <a class="" href="/products/wasstrips-zeebries">
            <div class="grid-img-box">
              <img class="" src="{{ "delete-1.png" | asset_url }}" alt="">
            </div>
            <div class="grid-text-box">
              <h2 class="grid-heading-text">Alle koffie</h2>
              <p class="grid-para">Shop now</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Collection list new",
    "settings": [
		{
          "id": "announcement_text",
          "type": "text",
          "label": "Announcement"

        },
        {
        "id": "brand_logo",
        "type": "image_picker",
        "label": "Select Brand Logo"

        },
        {
        "id": "brand_logo_svg",
        "type": "text",
        "label": "Brand Logo SVG"

        }
	],
	"blocks": [
        {
        "type": "select",
        "name": "Header Upper Menu",
        "settings": [

        {
        "id": "nav_list",
        "type": "link_list",
        "label": "Menu"

        }
      ]
    },
	{
        "type": "add",
        "name": "Header Lower Menu",
        "settings": [

        {
        "id": "nav_list_lower_left",
        "type": "link_list",
        "label": "Menu Left"

        },
		{
        "id": "nav_list_lower_right",
        "type": "link_list",
        "label": "Menu Right"

        }
      ]
    }
],
"presets": [
    {
      "name": "Collection list new",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
