<style>
  
  .default-h2 {
    font-size: 40px;
    font-weight: 700;
    color: #342D25;
    font-family: Athelas,sans-serif;
    text-align: center;
  }

  .default-text {
    text-align: center;
  }
  
  .btn {
    background-color: #342D25;
    color: #F4EDE2;
    display: table;
    margin: 0 auto;
    padding: 14px 44px;
    margin-top: 30px;
  }
  .cookie-popup-block {
    position: fixed;
    z-index: 10;
    bottom: 21px;
    right: 23px;
    background-color: #EBDCC2;
    padding: 37px 39px;
    width: 528px;
  }
  .cookie-popup-block .default-h2 {
    text-align: left;
    max-width: 345px;
  }
  .cookie-popup-block .default-text {
    text-align: left;
    max-width: 345px;
  }
  .pop-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .default-input {
    padding: 16px 24px;
    height: 54px;
    border: 0;
    width: 69%;
    color: #342D25;
    font-size: 16px;
    font-family: var(--font-body-family);
        outline-offset: 0;
    box-shadow: none;
  }
  .cookie-popup-block .btn {
    margin-top: 0;
    width: 31%;
    padding: 14px;
    font-family: var(--font-body-family);
    font-weight: 500;
    border: 0;
    letter-spacing: .8px;
    font-size: 16px;
}
  input::placeholder, textarea::placeholder {
    color: #342D25; /* Firefox */
    font-size: 16px;
    font-family: var(--font-body-family);
      opacity: .8;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #342D25; /* Firefox */
    font-size: 16px;
    font-family: var(--font-body-family);
      opacity: .8;
  }

  input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: #342D25; /* Firefox */
    font-size: 16px;
    font-family: var(--font-body-family);
      opacity: .8;
  }
  
  @media(max-width: 992px) {
    .cookie-popup-block {
      bottom: 0;
      right: 0;
      padding: 28px 20px;
      width: 100%;
    }
    .cookie-popup-block .default-h2 {
      max-width: 90%;
    }
    .cookie-popup-block .default-text {
      max-width: 90%;
    }
  }
  
</style>
<div class="cookie-popup-block" style="display: none;">    
  <div class="rel">
    <h2 class="default-h2">{{ section.settings.header_text }}</h2><span class="pop-close">{% include "icon-x" %}</span>
    <p class="default-text">{{ section.settings.sub_header_text }}</p>
    {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="default-input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="Jouw e-mailadres"
                    required
                  >
                  <button type="submit" class="btn" name="commit" id="Subscribe" aria-label="Inschrijven">
                    Inschrijven
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
  </div>
</div>

<script>
  $(document).ready(function(){
      $(".cookie-popup-block:not(.active)").fadeIn();
      $(".cookie-popup-block").addClass("active");
  }); 
  
  $(".cookie-popup-block .pop-close").click(function() {
  	$(".cookie-popup-block").fadeOut();console.log("sdf");
  });
  
</script>


{% schema %}
  {
    "name": "Cookie popup",
    "settings": [
		{
          "id": "header_text",
          "type": "text",
          "label": "Header text"

        },
        {
        "id": "sub_header_text",
        "type": "html",
        "label": "Sub header text"

        }
	],
"presets": [
    {
      "name": "Cookie popup",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
