{{ 'discover-blogs.css' | asset_url | stylesheet_tag }}

<div class="discover-blogs-wrapper">
  <div class="container rel">
    <div class="dis-blogs-content flex-box justify-between">
      <div class="dis-blog-content-left">
        <h2 class="dis-blog-title heading-2">{{ section.settings.dis_blog_heading }}</h2>
        <div class="dis-blog-desc">{{ section.settings.dis_blog_desc }}</div>
        {% for block in section.blocks %}
        {% if block.type == "button" %}
        <a href="{{ block.settings.button_link }}" class="btn medium {% if block.settings.button-color == 'light' %}btn-light{% else %}btn-dark{% endif %}">
          {{ block.settings.button_text | escape }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="dis-blog-content-right flex-box justify-between">
      	{% for block in section.blocks %}
        {% if block.type == "blog_block" %}
        {% assign blog = block.settings.featured_blog %}
        	<div class="featured-blog">
              <div class="blog-img"></div>
              <div class="blog-title">{{ blog.title }}</div>
        	</div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Discover Blogs",
    "settings": [
		{
        "id": "dis_blog_heading",
        "type": "text",
        "label": "Section Heading"
        },
		{
        "id": "dis_blog_desc",
        "type": "text",
        "label": "Section Description"
        }
	],
	"blocks": [
			{
                "type": "button",
                "name": "Button",
				"limit": 1,
                "settings": [

                {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"

                },
                {
                "id": "button_link",
                "type": "url",
                "label": "Button Link"
                },
				{
                  "type": "select",
                  "id": "button-color",
                  "options": [
                    {
                      "value": "light",
                      "label": "Light"
                    },
                    {
                      "value": "dark",
                      "label": "Dark"
                    }
                  ],
                  "default": "dark",
                  "label": "Dark"
                }
              ]
            },
			{
				"type": "blog_block",
				"name": "Blog",
				"limit": 3,
				"settings": [
					{
                      "type": "blog",
                      "id": "featured_blog",
                      "label": "Featured blog"
					}
				]
			}
		],
	"presets": [
    {
      "name": "Discover Blogs",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
