{{ 'faq.css' | asset_url | stylesheet_tag }}

<div class="faq-wrapper">
  <div class="container">
    <h1 class="heading-1 faq-heading">{{ section.settings.heading }}</h1>
    <div class="faq-content">
    	<div class="faq-para">{{ section.settings.faq_para }}</div>
      	<div class="faq-qa">
          {% for block in section.blocks %}
          {% if block.type == "faq" %}
          <div class="accordion faq-question-wrap medium flex-box justify-between">
            <div class="faq-question">{{ block.settings.question }}</div>
            <div class="faq-icon">+</div>
          </div>
          <div class="panel faq-answer">{{ block.settings.answer }}</div>
          {% endif %}
          {% endfor %}
      	</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ",
    "settings": [
		{
			"id": "heading",
        	"type": "text",
        	"label": "Section Heading"
		},
		{
			"id": "faq_para",
			"type": "text",
			"label": "FAQ Paragraph"
		}
	],
	"blocks": [
		{
                "type": "faq",
                "name": "FAQs",
                "settings": [

                {
                "type": "text",
                "id": "question",
                "label": "Question"
                },
				{
                "type": "text",
                "id": "answer",
                "label": "Answer"
                }
              ]
            }
	],
	"presets": [
    {
      "name": "FAQ",
		"category":"section"
    }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
