{{ 'header.css' | asset_url | stylesheet_tag }}
<header>
  <div class="header-anouncement" style="display: none;">
    <span class="header-container flex-box justify-center small-font align-center rel">
    	{{ section.settings.announcement_text }}
			<span id="header-anouncement-close" data-hide="{{ section.settings.announcement_hide_days }}">{% include 'icon-close-white' %}</span>
    </span>
		</div>
  <div class="header-wrapper header-container rel no-t-m">
    <div class="header-upper-section flex-box justify-between">
      <ul class="header-upper-left flex-box justify-between">
        {% for block in section.blocks %}
        {% for link in linklists[block.settings.nav_list].links %}
        <li class="upper-left-nav-list"><a class="header-link" href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
        {% endfor %}
      </ul>
      <div class="header-upper-right flex-box justify-between align-center">
        <div class="header-upper-right-icon search-icon">
          <div id="searchBox" class="search-container">
            <div class="search">{% include "icon-search" %}</div>
            <form action="/search" class="input-box">
              <input type="text" placeholder="Search..." name="q">
            </form>
          </div>
        </div>
        <div class="header-upper-right-icon user-icon">
        	<a href="/account" title="account">{% include 'icon-account-new' %}</a>
        </div>
        <div class="header-upper-right-icon cart-icon">
          <a href="#" class="rel" title="cart">{% include 'icon-cart-new' %}<span class="cart-quantity {% if cart.item_count == 0 %}no-disp{% endif %}">{{ cart.item_count }}</span></a>
        </div>
        <div class="lang-icon rel">
          <a href="#" class="flex-box align-center"><span class="main-lang">{{ request.locale.iso_code | upcase }}</span> <span class="down-chevron">{% include 'icon-down-chevron-brown' %}</span></a>
          <ul class="header-nav-list-sub lang-selector">            
                                  {% for locale in shop.published_locales %}   
                                  {% unless request.locale.iso_code == locale.iso_code  %}
                                    <li>
                                        <a href="{{ shop.url }}{{locale.root_url}}">{{ locale.iso_code | upcase }}</a>
                                    </li>
                                  {% endunless %}
                                  {% endfor %}
            </ul>
        </div>
      </div>
    </div>
    <div class="header-lower flex-box justify-between align-center">
      <ul class="header-lower-left flex-box">
        {% for block in section.blocks %}
        {% for link in linklists[block.settings.nav_list_lower_left].links %}
        <li class="header-link lower-left-nav-list" data-name="{{link.title}}"><a href="{{link.url}}" class="lower-left-nav-item flex-box align-center">{{link.title}}{% if link.links != blank %}<span class="down-chevron">{% include 'icon-down-chevron-brown' %}</span>{% endif %}</a>
        	{% if link.links != blank %}                                    
            <div class="hover-wrapper">
              <div id="nav-sub-drop" class="dropdown-container">
                <div class="wrapper">
                  <div class="hover-content-wrapper">
                    <div class="main-link-title medium">{{link.title}}</div>
                      <ul class="content-list">
                        {%- for child_link in link.links -%}
                        <li>
                          <a class="sub-link" href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                  </div>
                </div>
              </div>
            </div>
        	{% endif %}
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
      
      <div class="header-lower-middle brand-logo flex-box justify-center">
      	<a href="/" title="Cantata">
          {% if section.settings.brand_logo != blank %}
          <img
               srcset="{% if section.settings.brand_logo.width >= 174 %}{{ section.settings.brand_logo | img_url: '174x' }} 174w{% endif %}"
               class="brand-logo-size" src="{{ section.settings.brand_logo  | img_url: '150x150', scale: 2 }}"
               loading="lazy" alt = "brand-logo">
          {% else %}{{ section.settings.brand_logo_svg }}{% endif %}
        </a>
      </div>
      
      <div class="header-lower-right">
        <ul class="header-lower-right-inner flex-box">
          {% for block in section.blocks %}
          {% for link in linklists[block.settings.nav_list_lower_right].links %}
          <li class="lower-right-nav-list {% if page.url == link.url %} page-selected{% endif %}"><a href="{{link.url}}" class="lower-right-nav-item header-link">{{link.title}}</a></li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="header-mobile container no-d">
    <div class="mobile-header-wrap flex-box justify-between align-center">
	<nav class="header-hamburger-menu left-nav">
      <button type="button" class="navbar-toggler">
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
    </nav>
      <div class="header-mobile-logo brand-logo flex-box justify-center">
      	<a href="/" title="cantata">
          {% if section.settings.brand_logo != blank %}
          <img
               srcset="{% if section.settings.brand_logo.width >= 174 %}{{ section.settings.brand_logo | img_url: '174x' }} 174w{% endif %}"
               class="brand-logo-size" src="{{ section.settings.brand_logo  | img_url: '150x150', scale: 2 }}"
               loading="lazy" alt = "brand-logo">
          {% else %}{{ section.settings.brand_logo_svg }}{% endif %}
        </a>
      </div>
      <div class="header-mobile-right flex-box justify-between align-center">
        <div class="header-upper-right-icon cart-icon">
        	<a class="rel" href="#" title="cart">{% include 'icon-cart-new' %}<span class="cart-quantity {% if cart.item_count == 0 %}no-disp{% endif %}">{{ cart.item_count }}</span></a>
        </div>
      </div>
    </div>
    
    <div class="drawer-menu">
    <div class="drawer-content">
      <ul class="header-lower-left">
        {% for block in section.blocks %}
        {% for link in linklists[block.settings.nav_list_lower_left].links %}
        <li class="lower-left-nav-list mobile-main-menu medium"><a {% if link.links == blank %}href="{{link.url}}"{% else %}href="#"{% endif %} class="lower-left-nav-item flex-box justify-between align-center"><span>{{link.title}}</span>{% if link.links != blank %}<span class="down-chevron">{% include 'icon-right-chevron' %}</span>{% endif %}</a>
        	{% if link.links != blank %}                                    
            <div class="mobile-sub-menu-wrapper">
              <div id="nav-sub-drop" class="dropdown-container">
                <div class="wrapper">
                  <div class="hover-content-wrapper">
                    <div class="main-link-title back-to-main-menu medium align-center flex-box"><span class="down-chevron back-chevron">{% include 'icon-right-chevron' %}</span><span>{{link.title}}</span></div>
                      <ul class="content-list">
                        {%- for child_link in link.links -%}
                        <li>
                          <a class="sub-link" href="{{ child_link.url }}">{{ child_link.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                  </div>
                </div>
              </div>
            </div>
        	{% endif %}
        </li>
        {% endfor %}
        {% endfor %}
      </ul>
      <ul class="header-lower-right-inner">
          {% for block in section.blocks %}
          {% for link in linklists[block.settings.nav_list_lower_right].links %}
          <li class="lower-right-nav-list medium"><a href="{{link.url}}" class="lower-right-nav-item">{{link.title}}</a></li>
          {% endfor %}
          {% endfor %}
        </ul>
      <ul class="header-upper-left">
        {% for block in section.blocks %}
        {% for link in linklists[block.settings.nav_list].links %}
        <li class="upper-left-nav-list"><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
        {% endfor %}
        <li class="upper-left-nav-list"><a href="/account">Inloggen</a></li>
        <li class="upper-left-nav-list"><a href="/account">Account aanmaken</a></li>
        <li class="upper-left-nav-list mobile-main-menu"><a href="#" class="flex-box justify-between align-center"><span>Taal</span><span class="down-chevron">{% include 'icon-right-chevron' %}</span></a>
        	<div class="mobile-sub-menu-wrapper">
              <div id="nav-sub-drop" class="dropdown-container">
                <div class="wrapper">
                  <div class="hover-content-wrapper">
                    <div class="main-link-title back-to-main-menu medium align-center flex-box"><span class="down-chevron back-chevron">{% include 'icon-right-chevron' %}</span><span>Taal</span></div>
                      <ul class="content-list">
                             
                                  {% for locale in shop.published_locales %}   
                                  {% unless request.locale.iso_code == locale.iso_code  %}
                                    <li>
                                        <a href="{{ shop.url }}{{locale.root_url}}">{{ locale.iso_code | upcase }}</a>
                                    </li>
                                  {% endunless %}
                                  {% endfor %}
                      </ul>
                  </div>
                </div>
              </div>
            </div>
        </li>
      </ul>
      <form action="/search" class="search flex-box justify-between rel">
      	<input class="mobile-menu-search" type="text" name="q" placeholder="Zoeken">
        <a href="#" title="search">{% include 'icon-search' %}</a>
      </form>
    </div>
  </div>
</div>
</header>

<script>
  $('.mobile-main-menu').click(function() {
  	$(this).find('.mobile-sub-menu-wrapper').addClass('drawn');
    $(this).addClass('full-opacity');
  });
  
  $('.back-to-main-menu').click(function(e) {
  	$(this).closest('.mobile-sub-menu-wrapper').removeClass('drawn');
    $(".mobile-main-menu").removeClass('full-opacity');
    e.stopPropagation();
  });
   document.addEventListener('DOMContentLoaded', function() {
  document.getElementById("searchBox").addEventListener("click", function(event) {
    arr = this.className.split(" ");
    if (arr.indexOf("active") == -1) {
      this.className += " active";
    }
    this.getElementsByTagName("INPUT")[0].focus();
  });

  document.getElementById("searchBox").getElementsByClassName("search")[0].addEventListener("click", function(event) {
    var parent = this.parentElement; //searchBox element;
    var arr = parent.className.split(" ");
    if (arr.indexOf("active") != -1) {
      var input = parent.getElementsByTagName("INPUT")[0];
      input.value = "";
      var classList = parent.className;
      classList = classList.replace(/\bactive\b/g, "").trim();
      
      $('.search-results').hide();
      parent.className = classList;
      event.preventDefault();
      event.stopPropagation();
      event.stopImmediatePropagation();
    }
  });

}, false);


  $(function() {
    // Current Ajax request.
    var currentAjaxRequest = null;

    // Grabbing all search forms on the page, and adding a .search-results list to each.
    var searchForms = 
        $('form[action="/search"]:not(#Search-In-Template)').each(function() {

          // Grabbing text input.
          var input = $(this).find('input[name="q"]:not(#Search-In-Template)');

          // Adding a list for showing search results.
          var offSet = input.position().top + input.innerHeight();
          $('<ul class="search-results"></ul>').css( { 'position': 'absolute', 'left': '0px', 'top': offSet } ).appendTo($(this)).hide();    

          // Listening to keyup and change on the text field within these search forms.
          input.attr('autocomplete', 'off').bind('keyup change', function() {

            // What's the search term?
            var term = $(this).val();

     // What's the search form?
     var form = $(this).closest('form');

     // What's the search URL?
     var searchURL = '/search?q=' + term + '&options%5Bprefix%5D=last';

     // What's the search results list?
     var resultsList = form.find('.search-results');

     // If that's a new term and it contains at least 3 characters.
     if (term.length > 1 && term != $(this).attr('data-old-term')) {

       // Saving old query.
       $(this).attr('data-old-term', term);

       // Killing any Ajax request that's currently being processed.
       if (currentAjaxRequest != null) currentAjaxRequest.abort();

       console.log("her4e");
       // Pulling results.
       currentAjaxRequest = $.getJSON(searchURL + '&view=json', function(data) {
         // Reset results.
         resultsList.empty();

         // If we have no results.
         if(data.results_count == 0) {

           // resultsList.html('<li><span class="title">No results.</span></li>');
           // resultsList.fadeIn(200);
           resultsList.hide();
         } else {
           // If we have results.
           $.each(data.results, function(index, item) {
             var link = $('<a></a>').attr('href', item.url);
             link.append('<span class="thumbnail"><img src="' + item.thumb + '" /></span>');
             link.append('<span class="title">' + item.title + '</span>');
             link.wrap('<li></li>');
             resultsList.append(link.parent());
           });

           $(".drawer-menu").animate({ scrollTop: $(".drawer-menu").height() }, "fast");
           // The Ajax request will return at the most 10 results.
           // If there are more than 10, let's link to the search results page.
           if(data.results_count > 10) {
             resultsList.append('<li><span class="title"><a href="' + searchURL + '">See all results (' + data.results_count + ')</a></span></li>');
           }
           resultsList.fadeIn(200);
         }        
       });
     }
   });
 });

    // Clicking outside makes the results disappear.
    $('body').bind('click', function(){
      $('.search-results').hide();
    });
  });

</script>


{% schema %}
  {
    "name": "header",
    "settings": [
		{
          "id": "announcement_text",
          "type": "text",
          "label": "Announcement"

        },
		{
          "id": "announcement_hide_days",
          "type": "number",
          "label": "Announcement Hide days",
		  "default": 2
        },
        {
        "id": "brand_logo",
        "type": "image_picker",
        "label": "Select Brand Logo"

        },
        {
        "id": "brand_logo_svg",
        "type": "text",
        "label": "Brand Logo SVG"

        }
	],
	"blocks": [
        {
        "type": "select",
        "name": "Header Upper Menu",
        "settings": [

        {
        "id": "nav_list",
        "type": "link_list",
        "label": "Menu"

        }
      ]
    },
	{
        "type": "add",
        "name": "Header Lower Menu",
        "settings": [

        {
        "id": "nav_list_lower_left",
        "type": "link_list",
        "label": "Menu Left"

        },
		{
        "id": "nav_list_lower_right",
        "type": "link_list",
        "label": "Menu Right"

        }
      ]
    }
],
"presets": [
    {
      "name": "Header New",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
