{{ 'hero.css' | asset_url | stylesheet_tag }}

<div class="hero-wrapper">
  <div class="container">
  <div class="hero flex-box justify-between align-center">
    <div class="hero-left rel module">
      <h1 class="hero-heading main-title">{{ section.settings.hero_heading }}</h1>
      <div class="hero-desc">{{ section.settings.hero_desc }}</div>
      <div class="hero-btns flex-box">
      	{% for block in section.blocks %}
        {% if block.type == "button" %}
        <a href="{{ block.settings.button_link }}" class="btn medium {% if block.settings.button-color == 'light' %}btn-light{% else %}btn-dark{% endif %}">
        	{{ block.settings.button_text | escape }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="trustbox-wrapper2">
        <a href="https://nl-be.trustpilot.com/review/cantata.be" target="_blank" title="cantata trustpilot"><img src="{{ "Trustpilot_label_-_transparent_2x.png" | asset_url }}" alt="trustpilot review cantata"></a>
      </div>
    </div>
    <div class="hero-right rel module">
      <img srcset="{%- if section.settings.hero_img.width >= 165 -%}{{ section.settings.hero_img | img_url: '165x' }} 165w,{%- endif -%}
            {%- if section.settings.hero_img.width >= 360 -%}{{ section.settings.hero_img | img_url: '360x' }} 360w,{%- endif -%}
            {%- if section.settings.hero_img.width >= 535 -%}{{ section.settings.hero_img | img_url: '535x' }} 535w,{%- endif -%}
            {%- if section.settings.hero_img.width >= 720 -%}{{ section.settings.hero_img | img_url: '720x' }} 720w,{%- endif -%}
            {%- if section.settings.hero_img.width >= 940 -%}{{ section.settings.hero_img | img_url: '940x' }} 940w,{%- endif -%}
            {%- if section.settings.hero_img.width >= 1070 -%}{{ section.settings.hero_img | img_url: '1070x' }} 1070w{%- endif -%}"
            src="{{ section.settings.hero_img | img_url: '533x' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ section.settings.hero_img.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.hero_img.width }}"
            height="{{ section.settings.hero_img.height }}"
          >
    </div>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero New",
    "settings": [
			{
              "id": "hero_img",
              "type": "image_picker",
              "label": "Select Hero Image"
            },
			{
				"id": "hero_heading",
				"type": "text",
				"label": "Hero Heading"
			},
			{
				"id": "hero_desc",
				"type": "text",
				"label": "Hero Description"
			}
		],
	"blocks": [
			{
                "type": "button",
                "name": "Hero Button",
				"limit": 2,
                "settings": [

                {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"

                },
                {
                "id": "button_link",
                "type": "url",
                "label": "Button Link"
                },
				{
                  "type": "select",
                  "id": "button-color",
                  "options": [
                    {
                      "value": "light",
                      "label": "Light"
                    },
                    {
                      "value": "dark",
                      "label": "Dark"
                    }
                  ],
                  "default": "dark",
                  "label": "Dark"
                }
              ]
            }
		],
    "presets": [
        {
          "name": "Hero New",
            "category":"section"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
