{{ 'img-with-txt.css' | asset_url | stylesheet_tag }}

<div class="img-with-txt-wrapper">
  <div class="container">
    <div class="img-with-text-content flex-box align-center justify-between">
      <div class="img-with-txt-left">
        <h2 class="img-with-text-heading heading-2">{{ section.settings.heading }}</h2>
        <div class="img-with-text-desc">{{ section.settings.desc }}</div>
        <div class="img-with-text-btn">
      	{% for block in section.blocks %}
        {% if block.type == "button" %}
        <a href="{{ block.settings.button_link }}" class="btn {% if block.settings.button-color == 'light' %}btn-light{% else %}btn-dark{% endif %}">
        	{{ block.settings.button_text | escape }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
      </div>
      <div class="img-with-txt-right"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image with Text Button",
    "settings": [
		{
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
        },
		{
        "id": "desc",
        "type": "text",
        "label": "Section Description"
        },
		{
        "id": "image",
        "type": "image_picker",
        "label": "Section Image"
        }
	],
	"blocks": [
			{
                "type": "button",
                "name": "Hero Button",
				"limit": 1,
                "settings": [

                {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"

                },
                {
                "id": "button_link",
                "type": "url",
                "label": "Button Link"
                },
				{
                  "type": "select",
                  "id": "button-color",
                  "options": [
                    {
                      "value": "light",
                      "label": "Light"
                    },
                    {
                      "value": "dark",
                      "label": "Dark"
                    }
                  ],
                  "default": "dark",
                  "label": "Dark"
                }
              ]
            }
		],
	"presets": [
    {
      "name": "Image with Text Button",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
