<style>
  .accordion-filter {
  cursor: pointer;
  transition: 0.4s;
}

.active, .accordion:hover {
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  
  .category-wrapper {
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .sticky-nav {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    width: 25%;
    max-width: 180px; }

  .category-wrapper .sticky-nav {
    width: 100%;
    max-width: 273px; }

  .category-content {
    display: flex;
    width: 100%;
    max-width: 867px;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    justify-content: normal; }

  .sticky-nav p {
    margin-top: 21px;
    margin-bottom: 13px;
    position: relative;
  }

  .sticky-nav p strong {
    font-size: 16px;
    font-weight: 500;
    color: #342D25;}
  svg.icon.icon-caret {
    width: 8px;
    height: auto;
    position: absolute;
    right: 0;
    top: calc( 50% - 2.5px );
  }

  .sticky-nav a {
    font-size: 13px;
    font-weight: 400;
    display: block;
    color: #342D25;
    text-decoration: none;
    margin-bottom: 5px;
    transition: 0.4s ease;
  	opacity: .5;
  }

  .sticky-nav a.filtered {
    opacity: 1; }

  .category-content .card-product {
    width: 32.5%;
    margin: 0 0 80px;
    padding: 0 12px;
    background-color: transparent !important; }

  .card-product {
    text-decoration: none; }

  .card-product-image img {
    width: 100%;
    display: block; }

  .card-product-title {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 20px; }

  .card-product-price {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #3C3C3B; }

  .card-product .btn-cta {
    margin-top: 20px; }

  .image-box img {
    width: 100%;
    display: block; }
  .category-padd {
    padding-top: 55px;
  }
</style>
  <div class="category category-padd container padd-bottom padd-top">
    <h1 class="no-disp">Unsere Produkte</h1>
    <div class="category-wrapper row-nav marg-top">
      <div class="sticky-nav sub-marg-bottom">
        <p class="accordion-filter">FILTER</p>
        <div class="nav-colors panel-filter">
          <p class="accordion-filter"><strong>Smaak</strong> {% render 'icon-caret' %}</p>
          <div class="panel">
            <a href="#" class="undertones only-border" onClick="return false;" data-value="paketten">Pakete</a>
            <a href="#" class="undertones only-border" onClick="return false;" data-value="navullingen">Refills</a>
          </div>
          <p class="accordion-filter"><strong>Organic</strong> {% render 'icon-caret' %}</p>
          <div class="panel">
            <a href="#" class="favourites only-border" onClick="return false;" data-value="reinigers">Putzen</a>
            <a href="#" class="favourites only-border" onClick="return false;" data-value="accessoires">Zubehör</a>
            <a href="#" class="favourites only-border" onClick="return false;" data-value="wasmiddel">Waschen</a>
          </div>
        </div>
        <span class="close-filter negative no-d"></span>
      </div>
      <div class="category-content">
        {% for product in collection.products %}
        {% assign is_preorder = "false" %}
        {% for tag in product.tags %}
          {% if tag contains "preorder" %}
          	{% assign is_preorder = "true" %}
          {% endif %}
        {% endfor %}
        <a href="{{ product.url }}" title="{{ product.title | escape  }}" class="card-product {% for tag in product.tags %}{% unless tag contains "tagline:" %}{{ tag }} {% endunless %}{% endfor %}">            
          <div class="card-product-image">
            <img src="{{ product.featured_image.src | product_img_url: '590x' }}" alt="{{ product.title | escape  }}" />
          </div>
          <div class="card-product-details">
            <div class="row">
              <p class="card-product-title text-center">
                {{ product.title | escape  }}
              </p>
              <p class="card-product-price text-center">
                <span class="product-compare-price" style='color: #EFA693;'><span style='color: #3C3C3B;'>{{ product.compare_at_price | money }}</span></span> {{ product.price | money  }}
              </p>
              <span href="#" class="btn btn-smol btn-cta no-t-m">{% if is_preorder == "true" %}Vorbestellen{% else %}Produkt ansehen{% endif %}</span>
              <span href="#" class="btn btn-bg btn-cta no-d">{% if is_preorder == "true" %}Vorbestellen{% else %}Produkt ansehen{% endif %}</span>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

<script>
  $('.filter').click(function(){
    $('.sticky-nav').addClass('open');
    window.scrollTo(0, 0);
  });
  $('.close-filter').click(function(){
    $('.sticky-nav').removeClass('open');
  });
  $('.nav-colors .colors-wrapper').click(function(){
    $(this).toggleClass('filtered');
    runFilter();
  });
  $('.nav-colors .only-border').click(function(){
    $(this).toggleClass('filtered');
    runFilter();
  });

  function runFilter() {
    var colors = [];
    var undertones = [];
    var favourites = [];
    var classString = "";
    $( ".colors-wrapper.filtered" ).each(function( index ) {
      colors.push($(this).data('value'));
    });
    $( ".undertones.filtered" ).each(function( index ) {
      undertones.push($(this).data('value'));
    });
    $( ".favourites.filtered" ).each(function( index ) {
      favourites.push($(this).data('value'));
    });
    var i;
    $('.card-product').addClass('no-disp');
    if(colors.length > 0) {
      for (i = 0; i < colors.length; i++) {
        $('.card-product.'+colors[i]).addClass('fp');
      }
    } else {
      $('.card-product').addClass('fp');
    }
    if(undertones.length > 0) {
      for (i = 0; i < undertones.length; i++) {
        $('.card-product.'+undertones[i]).addClass('sp');
      }
    } else {
      $('.card-product').addClass('sp');
    }
    if(favourites.length > 0) {
      for (i = 0; i < favourites.length; i++) {
        $('.card-product.'+favourites[i]).addClass('tp');
      }
    } else {
      $('.card-product').addClass('tp');
    }
    $('.card-product.fp.sp.tp').removeClass('no-disp');
    $('.fp').removeClass('fp');
    $('.sp').removeClass('sp');
    $('.tp').removeClass('tp');
  }
  runFilter();
</script>

<script>
var acc = document.getElementsByClassName("accordion-filter");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active-filter");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
