<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="container">
  <div class="breadcrums">
    <a href="/" class="breadcrum">Home</a>
    <a class="breadcrum active">{{ page.title | escape }}</a>
  </div>
  <span class="page-type">{% if template contains "legal" %}Legal{% endif %}</span>
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <p class="subheading">{{ section.settings.sub_header_text }}</p>
</div>
<div class="page-width page-width--narrow">
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "non-spaced-section",
  "settings": [
        {
        "id": "sub_header_text",
        "type": "html",
        "label": "Sub header text"
        }
	]
}
{% endschema %}
