{{ 'new-blog-article.css' | asset_url | stylesheet_tag }}

<div class="article-wrapper">
  <div class="article-excerpt-wrap module rel">
    <div class="darker-background"></div>
  <div class="container">
    
    <div class="article-img-content rel">
      <div class="article-img no-t-m">
      	{{ article.image | img_url: '500x' | img_tag }}
      </div>
      <div class="article-content-wrap">
        <div class="">
        {% for tag in article.tags limit:1 %}
        <div class="article-tag medium">{{ tag }}</div>
        {% endfor %}
        <h2 class="article-title heading-2">{{ article.title }}</h2>
        </div>
        <div class="article-img no-d">
          {{ article.image | img_url: '500x' | img_tag }}
        </div>
        <div class="article-date">{{ article.created_at | date: "%d %b %Y" }}{%- include dateTranslate, dateString:article.created_at language:'French' -%}</div>
        <div class="article-excerpt"><span>{{ article.excerpt }}</span></div>
      </div>
    </div>
    </div>
    </div>
  
  	<div class="article-content-wrapper">
      <div class="container">
    <div class="article-content module">{{ article.content }}</div>
    <div class="explore-products-heading module">{{ section.settings.heading }}</div>
    <div class="explore-products-wrap flex-box justify-between no-t-m module">
    	{% for block in section.blocks %}
        {% if block.type == "product" %}
      	{% assign product = block.settings.featured_product %}
      		<div class="explore-product">
              <div class="ep-image"><a href="{{ product.url }}"><img class="product-img" src="{{ product.featured_image.src | img_url: 'x300' }}"></a></div>
              <div class="ep-title"><a href="{{ product.url }}">{{ product.title | escape }}</a></div>
      		</div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="explore-products-wrap no-d module">
    	{% for block in section.blocks %}
        {% if block.type == "product" %}
      	{% assign product = block.settings.featured_product %}
      		<div class="explore-product">
              <div class="ep-image"><a href="{{ product.url }}"><img class="product-img" src="{{ product.featured_image.src | img_url: 'x300' }}"></a></div>
              <div class="ep-title"><a href="{{ product.url }}">{{ product.title | escape }}</a></div>
      		</div>
        {% endif %}
        {% endfor %}
    </div>
    {% for block in section.blocks %}
        {% if block.type == "button" %}
        <a href="{{ block.settings.button_link }}" class="btn all-products-btn medium {% if block.settings.button-color == 'light' %}btn-light{% else %}btn-dark{% endif %}">
          {{ block.settings.button_text | escape }}
        </a>
        {% endif %}
        {% endfor %}
    {% if blog.next_article or blog.previous_article %}
    	<div class="article-nav flex-box justify-between{% unless blog.previous_article %} fl-end{% endunless %} module">
          {% if blog.previous_article %}
            <a href="{{ blog.previous_article }}" class="btn btn-light left">Vorig artikel</a>
          {% endif %}
          {% if blog.next_article %}
              <a href="{{ blog.next_article }}" class="btn btn-light right">Volgend artikel</a>
          {% endif %}
      {% endif %}
    	</div>
  </div>
  </div>
    
    	
    
</div>

<script>
// 	var article_content_height = parseInt($('.article-content-wrap').height());
//   var pad_marg = 80;
//   var backg_height = article_content_height + pad_marg;
//   console.log(backg_height);
//   $('.darker-background').height(backg_height);
</script>

{% schema %}
  {
    "name": "New Blog Article",
    "settings": [
		{
			"id": "heading",
        	"type": "text",
        	"label": "Explore Products Heading"
		}
	],
	"blocks": [
			{
                "type": "product",
                "name": "Explore Products",
				"limit": 3,
                "settings": [

                {
                "type": "product",
                "id": "featured_product",
                "label": "Featured product"
                }
              ]
            },
			{
                "type": "button",
                "name": "Button",
				"limit": 1,
                "settings": [

                {
                "id": "button_text",
                "type": "text",
                "label": "Button Text"

                },
                {
                "id": "button_link",
                "type": "url",
                "label": "Button Link"
                },
				{
                  "type": "select",
                  "id": "button-color",
                  "options": [
                    {
                      "value": "light",
                      "label": "Light"
                    },
                    {
                      "value": "dark",
                      "label": "Dark"
                    }
                  ],
                  "default": "dark",
                  "label": "Dark"
                }
              ]
            }
		],
	"presets": [
    {
      "name": "New Blog Article",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}