{{ 'new-blog-article.css' | asset_url | stylesheet_tag }}

<div class="article-wrapper rel">
  <div class="container">
    <div class="darker-background"></div>
    <div class="article-img-content rel">
      <div class="article-img">
      	{{ article.image | img_url: '500x' | img_tag }}
      </div>
      <div class="article-content-wrap">
        <div class="abs">
        {% for tag in article.tags limit:1 %}
        <div class="article-tag medium">{{ tag }}</div>
        {% endfor %}
        <h2 class="article-title heading-2">{{ article.title }}</h2>
        </div>
        <div class="article-date">{{ article.created_at | date: "%d %b %Y" }}</div>
        <div class="article-excerpt">{{ article.excerpt }}</div>
      </div>
    </div>
    <div class="article-content">{{ article.content }}</div>
    <div class="explore-products-heading">{{ section.settings.heading }}</div>
  </div>
</div>

{% schema %}
  {
    "name": "New Blog Article",
    "settings": [
		{
			"id": "heading",
        	"type": "text",
        	"label": "Explore Products Heading"
		}
	],
	"presets": [
    {
      "name": "New Blog Article",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}