{{ 'product-filter-sort.css' | asset_url | stylesheet_tag }}

<div class="product-filter-sort-wrapper">
  <div class="container">
    <div class="product-filter-sort-content flex-box justify-between">
      <div class="pfs-left rel">
        <div class="pfs-heading medium">{{ section.settings.heading }}</div>
        <div class="filter-and-sorting">
          <div class="sorting">
            <div class="sort" data-value="ltoh">Price, low to high<span class="close-icon no-t-m no-disp">{% include 'icon-close-brown' %}</span></div>
            <div class="sort" data-value="htol">Price, high to low<span class="close-icon no-t-m no-disp">{% include 'icon-close-brown' %}</span></div>
          </div>
          <div class="filters">
            {% for product in collections['all'].products limit:1 %}
            	{% for tag in product.tags limit:2 %}
                <div class="filter" data-tag="{{ tag }}">{{ tag }}<span class="close-icon no-t-m no-disp">{% include 'icon-close-brown' %}</span></div>
                {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="pfs-right flex-box justify-between">
        
      	{% for product in collections['all'].products limit:3 %}
        <div class="pfs-product" data-tag="{% for tag in product.tags limit:1 %}{{ tag }}{% endfor %}" data-price="{{ product.price }}">
        	 <div class="product-img-wrap">
        	<img class="product-img" src="{{ product.featured_image.src | img_url: 'x512' }}">
        </div>
          <div class="product-tag bold">{% for tag in product.tags limit:1 %}{{ tag }}{% endfor %}</div>
          <div class="product-title"><a href="{{ product.url }}">{{ product.title | escape }}</a></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  $('.sort').click(function() {
    $('.sort').not(this).removeClass('selected');
    $('.sort').not(this).find('.close-icon').addClass('no-disp');
    $(this).toggleClass('selected');
    if($(this).hasClass('selected')){
    $(this).find('.close-icon').removeClass('no-disp');
    }
    else {
    	$(this).find('.close-icon').addClass('no-disp');
    }
  });
  
  $('.filter').click(function() {
  	$(this).toggleClass('selected');
    if($(this).hasClass('selected')){
    $(this).find('.close-icon').removeClass('no-disp');
      var tag = $(this).data('tag');
      console.log(tag);
      $('.pfs-product').each(function() {
        if($(this).data('tag')==tag){
          $(this).removeClass('not-through-filter')
          $(this).addClass('through-filter');
        }
        else{
          if($(this).hasClass('through-filter')){
          	
          }else {
          	$(this).addClass('not-through-filter');
          }
        }
      });
    }
    else {
    	$(this).find('.close-icon').addClass('no-disp');
      var tag = $(this).data('tag');
      $('.pfs-product').each(function() {
        	if($(this).data('tag')==tag){
          $(this).removeClass('through-filter');
              $(this).addClass('not-through-filter');
        }
        else{
          if($('.filter.selected').length === 0){
          	$(this).removeClass('not-through-filter');
          }
        }
        });
    }
  });
</script>



{% schema %}
  {
    "name": "Product Filter Sort",
    "settings": [
		{
        "id": "heading",
        "type": "text",
        "label": "Section Heading"
        }
	],
	
	"presets": [
    {
      "name": "Product Filter Sort",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}