{{ 'product-filter-sort.css' | asset_url | stylesheet_tag }}

<div class="product-filter-sort-wrapper">
  <div class="container">
    <div class="product-filter-sort-content flex-box justify-between module">
      <div class="pfs-left rel">
        <div class="pfs-heading medium">{{ section.settings.heading }}</div>
        <div class="filter-and-sorting">
          <div class="sorting">
            <div class="sort" data-sort="ltoh">{{ section.settings.sort_ltoh }}<span class="close-icon no-t-m no-disp">{% include 'icon-close-brown' %}</span></div>
            <div class="sort" data-sort="htol">{{ section.settings.sort_htol }}<span class="close-icon no-t-m no-disp">{% include 'icon-close-brown' %}</span></div>
          </div>
          
          <div class="filters">
            <a href="/collections/relatiegeschenken-b2b" class="filter" data-tag="B2B">{{ section.settings.show_all }}</a>
          </div>
          {% comment %}
          <div class="filters">
            {% for product in collections['relatiegeschenken-b2b'].products limit:1 %}{% if product.metafields.inventory.ShappifyHidden %}{% continue %}{% endif %}

            	{% for tag in product.tags limit:1 %}
            	{% assign temptag = tag %}
                {% if request.locale.iso_code == "nl" %}yes
            		{% if tag == "Price, low to high" %}
            			{% assign temptag = "Prijs, laag naar hoog" %}
            		{% elsif tag == "Price, high to low" %}
            			{% assign temptag = "Prijs, hoog naar laag" %}
            		{% endif %}
                {% endif %}
                {% unless tag == "B2B" %}<div class="filter" data-tag="{{ tag }}">{{ temptag }}<span class="close-icon no-t-m no-disp">{% include 'icon-close-brown' %}</span></div>{% endunless %}
                {% endfor %}
            {% endfor %}
          </div>
          {% endcomment %}
        </div>
      </div>
      <div class="pfs-right flex-box">
        
      	{% for product in collections['relatiegeschenken-b2b'].products %}{% if product.metafields.inventory.ShappifyHidden %}{% continue %}{% endif %}

        <div class="pfs-product" data-tags="{% for tag in product.tags %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }} {% endif %}{% endfor %}" data-price="{{ product.price }}">
        	 <div class="product-img-wrap">
               <a href="{{ product.url }}"><img class="product-img" src="{{ product.featured_image.src | img_url: '300x' }}" loading="lazy"></a>
        </div>
          <div class="product-tag bold">{% for tag in product.tags limit:1 %}{{ tag }}{% endfor %}</div>
          <div class="product-title"><a href="{{ product.url }}">{{ product.title | escape }}</a></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  
//   $(".pfs-product").hide();
//  $(".pfs-product:lt(3)").show();
  function visible_products(){
  $(".pfs-product").addClass('not-visible');
 $(".pfs-product:lt(3)").removeClass('not-visible');
  }
  visible_products();
  
  $('.sort').click(function() {
    $(".pfs-product").removeClass('not-visible');
    $('.sort').not(this).removeClass('selected');
    $('.sort').not(this).find('.close-icon').addClass('no-disp');
    $(this).toggleClass('selected');
    if($(this).hasClass('selected')){
    $(this).find('.close-icon').removeClass('no-disp');
      if($(this).data('sort')=='ltoh'){
//         var ltoh = [];
//         $('.pfs-product').each(function() {
//         	var price = $(this).data('price');
//           	ltoh.push(price);
//           console.log(ltoh);
//         });
//       	console.log('low to high');
        var $wrapper = $('.pfs-right');

		$wrapper.find('.pfs-product').sort(function (a, b) {
    		return +a.dataset.price - +b.dataset.price;
		})
		.appendTo( $wrapper );
      }
      else{
      	console.log('high to low');
        var $wrapper = $('.pfs-right');

		$wrapper.find('.pfs-product').sort(function (a, b) {
    		return +b.dataset.price - +a.dataset.price;
		})
		.appendTo( $wrapper );
      }

    }
    else {
    	$(this).find('.close-icon').addClass('no-disp');
      var $wrapper = $('.pfs-right');

		$wrapper.find('.pfs-product').sort(function (a, b) {
    		return +a.dataset.price - +b.dataset.price;
		})
		.appendTo( $wrapper );
    }
    if($('.filter').hasClass('selected')){
    $(".pfs-product.through-filter").addClass('not-visible');
 $(".pfs-product.through-filter:lt(3)").removeClass('not-visible');
    }
    else{
    	visible_products();
    }
  });
  
  $('.filter').click(function() {
    $(".pfs-product").removeClass('not-visible');
  	$(this).toggleClass('selected');
    if($(this).hasClass('selected')){
    $(this).find('.close-icon').removeClass('no-disp');
      var tag = $(this).data('tag');
      console.log(tag);
      $('.pfs-product').each(function() {
        var arr = $(this).data('tags');
        
        if(arr.indexOf(tag) != -1){
          $(this).removeClass('not-through-filter');
          $(this).addClass('through-filter');
        }
        else{
          if($(this).hasClass('through-filter')){
          	
          }else {
          	$(this).addClass('not-through-filter');
          }
        }
      });
      $(".pfs-product.through-filter").addClass('not-visible');
 $(".pfs-product.through-filter:lt(3)").removeClass('not-visible');
    }
    else {
    	$(this).find('.close-icon').addClass('no-disp');
      var tag = $(this).data('tag');
      $('.pfs-product').each(function() {
        	var arr = $(this).data('tags');
        
        if(arr.indexOf(tag) != -1){
          $(this).removeClass('through-filter');
              if($('.filter.selected').length === 0){
          	$(this).removeClass('not-through-filter');
          }
        }
        else{
          if($('.filter.selected').length === 0){
          	$(this).removeClass('not-through-filter');
          }
        }
        });
      visible_products();
    }
    
//     visible_products();
  });
</script>



{% schema %}
  {
    "name": "Product Filter Sort",
    "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Section Heading"
        },
        {
          "id": "sort_ltoh",
          "type": "text",
          "label": "Sort Price Low to High",
          "default": "Prijs, laag naar hoog"
        },
        {
          "id": "sort_htol",
          "type": "text",
          "label": "Sort Price High to Low",
          "default": "Prijs, hoog naar laag"
        },
		{
          "id": "show_all",
          "type": "text",
          "label": "Sort Show All",
          "default": "Toon alle pakketten"
        }
	],
	
	"presets": [
    {
      "name": "Product Filter Sort",
		"category":"section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}